.bodyWrapper {
    margin:10px
}

@font-face {
    font-family: "formula1";
    src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf);
}

.header {
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}

#flagImg {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 200px;
    border: 5px solid black;
}

.display-2 {
    font-family: 'formula1';
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff1801;
}

#logoImg {
    position: absolute;
    height: 125px;
    width: 140px;
    top: 45px;
    left: 90px;
    border: 1px solid #ff1801;
}

#partnersImg {
    position: absolute;
    height: 125px;
    width: 140px;
    top: 45px;
    right: 90px;
    border: 1px solid #ff1801;
}

.col-3 {
    font-family: 'formula1';
    text-align: center;
    padding: 5px;
    display: block;
}

.col-3:hover {
    background-color: black;
    text-transform: uppercase;
    color: #ff1801;
    text-decoration: underline;
}

/* #driverImage {
    min-width: 1400px;
    padding-bottom: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
} */

.footer {
    height: 275px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    background-image: url(./Assets/f1_racecar.png);
    background-size: 100% 100%;
    min-width: 700px;
    max-width: 800px;
    display: flex;
    justify-content: baseline;
}