.bodyWrapper {
    margin: 10px;
}

@font-face {
    font-family: "formula1";
    src: url(https://www.formula1.com/etc/designs/fom-website/fonts/F1Regular/Formula1-Regular.ttf);
}

.header {
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}

#flagImg {
    position: relative;
    background-size: cover;
    width: 100%;
    height: 200px;
    border: 5px solid black;
}

.display-2 {
    font-family: 'formula1';
    position: absolute;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ff1801;
}

#logoImg {
    position: absolute;
    height: 125px;
    width: 140px;
    top: 45px;
    left: 90px;
    border: 1px solid #ff1801;
}

#partnersImg {
    position: absolute;
    height: 125px;
    width: 140px;
    top: 45px;
    right: 90px;
    border: 1px solid #ff1801;
}

.col-3 {
    font-family: 'formula1';
    text-align: center;
    padding: 5px
}

.col-3:hover {
    background-color: black;
    text-transform: uppercase;
    color: #ff1801;
    text-decoration: underline;
}

.row row-cols-2 row-cols-lg-4 g-2 g-lg-3 {   /* How to get pictures from shifting??*/
    position: absolute
}


/* .driversRowOne {
    float: left;
    width: 25%;
    padding: 8px
}

.rowOne::after {
    content: "";
    clear: both;
    display: table
} */


/* #f1car or .footer {
    position: fixed;
    bottom: 0px;
    left: 50%;
} */